
*, *::before, *::after {
    box-sizing: border-box;
}
:root{
    --button-height:32px;
    --font-size:14px;
    --button-bg:#fff;
    --button-active-bg:#eee;
    --border-radius:4px;
    --border-color:#ccc;
    --border-hover-color:#1b85ff;
}
